/* 样式重置 */
*{
	margin: 0;
	padding: 0;
}
a{
	color: #0556f3;
	outline: none;
	text-decoration: none;
}
a span,a i{
	color: #424c50;
}
html{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body{
	height: 100%;
	width: 101%;
	overflow-y: scroll;
}

/* 导航 */
.nav{
	width: 100%;
	height: 60px;
	box-shadow: 0 0 10px #bababa4d;
}
.nav-container{
	display: flex;
	height: 100%;
	line-height: 60px;
	margin: 0 auto;
	position: relative;
	width: 1140px;
}
.flex-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.logo{
	margin: 5px 5px 5px 0;
}
.list-left{
	background: #fff;
	display: flex;
	flex-direction: row;
	font-size: 16px;
	margin-left: 40px;
	margin-right: 24px;
	overflow: hidden;
	position: relative;
}
.list-item{
	height: 100%;
	padding: 0 20px;
	cursor: pointer;
	user-select: none;
}
.list-item span{
	position: relative;
}
.list-item span>svg{
	position: absolute;
	top: 20%;
}
.login-box{
	display: inline-flex;
	justify-content: flex-end;
	margin-left: auto;
	text-align: left;
}
.text-myclass{
	color: #25265e;
	cursor: pointer;
	font-weight: 400;
	padding: 0 15px;
}
.img-pic{
	border-radius: 50%;
	cursor: pointer;
	margin: auto 0;
	width: 40px;
}
.img-vip{
	background: none;
	display: block;
	height: 20px;
	position: absolute;
	right: 10px;
	top: -5px;
	width: 20px;
}
/* 下拉菜单 */
.sub-menu{
	display: flex;
	height: 100%;
	justify-content: center;
	position: fixed;
	width: 100%;
	z-index: 9;
}
.sub-menu>.mask{
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	top: 0;
	position: absolute;
	width: 100%;
	 z-index: -1;
}
.box-course{
	background: #fff;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 0 10px #bababa4d;
	display: flex;
	flex-direction: inherit;
	position: fixed;
	top: 60px;
	z-index: 999;
}
.box-course>.box-course-list{
	background: linear-gradient(200deg,rgba(247,250,255,.23),#ebf2ff);
	border-radius: 0 0 0 8px;
	font-size: 16px;
	font-weight: 700;
	padding: 16px 0;
	width: 160px;
}
.box-course>.box-course-list>.box-course-item{
	color: #333;
	cursor: pointer;
	display: flex;
	height: 46px;
	line-height: 46px;
	padding-left: 20px;
}
.box-course>.box-course-list>.active{
	background-color: #c3e1ff;
	color:#0556f3;
}
.box-course>.box-course-list>.box-course-item>div>i{
	color: red;
	font-size: 20px;
	margin-left: 3px;
	margin-top: 10px;
}
.i-icon{
	fill: currentColor;
	height: 1em;
	overflow: hidden;
	vertical-align: -0.15em;
	width: 1em;
}
.box-course .text-to-study{
	align-items: center;
	background: linear-gradient(270deg,rgba(29,175,255,0),rgba(29,175,255,.57) 49%,#00d2f5);
	box-shadow: 0 6px 30px #0000000a;
	display: flex;
	font-size: 20px;
	height: 70px;
	width: 100%;
}
.box-course .text-to-study span{
	color: white;
	display: flex;
}
.box-course .text-to-study span img{
	height: 30px;
	margin: auto 8px auto 25px;
}


/* 吸顶导航 */
#navFix{
	position: fixed;
	top:0;
	width: 100%;
	z-index: 3;
	box-shadow: 0 0 10px #bababa4d;
	background-color: #fff;
}
#navFix .logo{
	margin: 5px 5px 5px 0;
}
/* 侧边栏 */
.elevator{
	background: #fff;
	bottom: 100px;
	position: fixed;
	right: 10px;
	width: 50px;
	z-index: 999;
}
.elevator>.list{
	color: #999;
	display: flex;
	flex-direction: column;
	font-size: 26px;
	padding: 10px 0;
	text-align: center;
}
.elevator>.list>.itemV{
	cursor: pointer;
	height: 40px;
}
.elevator .list .itemV.item-wx{
	position: relative;
	border-bottom: 1px solid #ccc;

}
.elevator>.list>.itemV>svg{
	color: #999;
	fill: currentColor;
	height: 1em;
	overflow: hidden;
	vertical-align: -0.15em;	
	width: 1em;
	margin: auto;
}
.elevator .list .itemV.item-wx>img{
	bottom: 0;
	height: 0;
	max-width: none;
	opacity: 0;
	position: absolute;
	right: 60px;
	transform: scale(.01);
	transform-origin: 100% 100%;
	transition: opacity .25s,transform .3s;
}
.elevator .list .itemV.item-wx>img.active{
	transform: scale(1);
	opacity: 1;
	height: 120px;
}
/* footer */
.footer{
	width: 100%;
	align-items: center;
	background: url(../img/bg/footer.png) repeat;
	display: flex;
	height: 320px;
	position: relative;
	z-index: 0;
}
.footer>.box-bottom{
	color: #ebefff;
	margin: 0 auto;
}
.footer>.box-bottom>.container{
	display: flex;
	flex-direction: inherit;
	padding: 60px 0 0;
}
.footer>.box-bottom>.container>.box-about{
	display: flex;
	flex-direction: inherit;
	justify-content: space-between;
	width: 100%;
}
.footer>.box-bottom>.container>.box-about>div{
	min-width: 250px;
}
.footer>.box-bottom>.container>.box-about>.box-server{
	display: flex;
	flex-direction: column;
}
.footer>.box-bottom>.container>.box-about>.box-server>.logo{
	max-width: 120px;
}
.footer>.box-bottom>.container>.box-about>.box-server>.wx-server{
	margin-top: 20px;
}
.footer>.box-bottom .title{
	color: #fff;
	font-size: 16px;
	font-weight: 700;
}
.footer>.box-bottom .list{
	color: #999;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 14px;
	height: 150px;
	line-height: 22px;
	margin-top: 20px;
}
.footer>.box-bottom .list>span{
	color: #999;
	cursor: pointer;
}
.footer>.box-bottom .list>span>a{
	color: #999;
	cursor: pointer;
}
.footer>.copyright{
	align-content: center;
	align-items: center;
	bottom: 20px;
	color: #999;
	display: flex;
	flex-flow: wrap;
	font-size: 14px;
	justify-content: center;
	position: absolute;
	text-align: center;
	width: 100%;
}
.footer>.copyright>p{
	margin: 0;
	min-width: 400px;
	width: 570px;
}
.footer .copyright a{
	color: #999;
}
.footer .copyright p img{
	width: 16px;
}